<div class="info_manage">
	<!-- <table>
		<tr>
			<td>小区总户数 <span class="orange">3120</span></td>
			<td>row 1, cell 2</td>
		</tr>
	</table> -->
	<div class="row first_manage_info">
		<div class="col-sm-6">
			<p class="pull-left">小区总户数</p>
			<p class="pull-left orange">3120</p>
		</div>
		<div class="col-sm-6">
			<p class="pull-left">已安装APP户数</p>
			<p class="pull-left orange">759</p>
		</div>
	</div>
	<hr>
	<div class="row second_manage_info">
		<div class="col-sm-3">
			<p class="pull-left">业主呼叫数</p>
			<p class="pull-left green">427</p>
		</div>
		<div class="col-sm-3">
			<p class="pull-left">待响应</p>
			<p class="pull-left green">27</p>
		</div>
		<div class="col-sm-3">
			<p class="pull-left">处理中</p>
			<p class="pull-left green">47</p>
		</div>
		<div class="col-sm-3">
			<p class="pull-left">已完成</p>
			<p class="pull-left green">7</p>
		</div>
	</div>
	<hr>
	<div class="container three_manage_info">
		<div class="row">
			<div class="col-md-6">
				<div>
					<h4>投诉趋势图</h4>
					<div>图1</div>
				</div>
				<div>
					<h4>满意度趋势图</h4>
					<div>图2</div>
				</div>
			</div>
			<div class="col-md-6">
				<div>
					<h4>报修趋势图</h4>
					<div>图3</div>
				</div>
			</div>
		</div>
	</div>
</div>